.friendWrapper {
  border: 1px solid rgb(176, 171, 171);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.status {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
}

.online {
  color: green;
}

.offline {
  color: red;
}
